
html, body, page{
    height: 100%;
    width:100%;
    margin:0;
}
page{
    font-size: 180px;
    height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 30%;
}
#c{
    background-color: lightgreen;
    animation: c 6.667s infinite;
}
#x{
    background-color: red;
    animation: x 6.667s infinite;
}
#q{
    animation: q 6.667s infinite;
    background-image: url("../images/vit.wang (1).jpg");
    background-size: 100% 100%;
}
#d{
    background-color:black;
    color: white;
    animation: d 6.667s infinite;
}
#z{
     font-size: 36px;
     display: block;
     animation: z 6.667s infinite;
 }
@keyframes c {
    0%{opacity: 0}
    20%{opacity: 100}
    40%{opacity: 0}
    100%{opacity: 0}
}
@keyframes x {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 100}
    60%{opacity: 0}
    100%{opacity: 0}
}
@keyframes q {
    0%{opacity: 0}
    40%{opacity: 0}
    60%{opacity: 100}
    80%{opacity: 0}
    100%{opacity: 0}
}
@keyframes d {
    0%{opacity: 0}
    60%{opacity: 0}
    80%{opacity: 100}
    100%{opacity: 0}
}
@keyframes z {
    0%{opacity: 0}
    70%{opacity: 0}
    80%{opacity: 100}
    100%{opacity: 0}
}